on:
  push:
    branches: [main]
  pull_request:
jobs:
  check:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra-conf: |
            accept-flake-config = true
      - uses: cachix/cachix-action@v16
        with:
          name: wi2trier
          authToken: ${{ secrets.CACHIX_TOKEN }}
      - name: nix flake check
        run: nix flake check --show-trace --print-build-logs
